// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Views
@import "views/Home";
@import "views/Signup";
@import "views/ContactPage";
@import "views/ContactDetails";
@import "views/ContactEdit";
@import "views/StatisticsPage";

// Components
@import "cmps/contact-preview";
@import "cmps/contact-list";
@import "cmps/contact-filter";
@import "cmps/AppHeader";
@import "cmps/MovesList";
@import "cmps/TransferFunds";




.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .app-header {
        color: white;
    }

    main {
        flex-grow: 1;
        width: 100%;
    }

    > footer {
        text-align: left;
        background-color: #111;
        color: white;
        width: 100%;
        margin: 0;
    }
}
