.contact-filter {
    display: flex;
    flex-wrap: wrap;
    margin-block: 20px;
    text-align: center;
    margin-inline: 25vw;
    gap: 20px;
    > section {
        display: flex;
        flex-direction: column;
    }
}
