.contact-filter {
    display: flex;
    flex-wrap: wrap;
    margin-block: 20px;
    text-align: center;
    width: 30vw;
    // margin-inline: 35vw;
    // gap: 20px;
    > section {
        display: flex;
        flex-direction: column;
    }
}
