.contact-preview {
  background: #03a9f414;
  box-shadow: 0 0 11px #0000002b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  .contactInfo {
    padding: 10px;
    flex-grow: 1;
    max-width: 60%;
    & section {
      display: flex;
      gap: 2vw;
    }
  }
  .image-wrapper {
    width: 15vw;
    img {
      width: 100%;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    flex-basis: 5%;
    padding: 10px;
    & button {
      @include button
    }
    // background-color: #000000c9;
    // transform: translate(200%);
    // transition: transform 0.2s;
  }

  // &:hover .actions {
  //   transform: translate(0);
  // }
}
