.home-wrapper {
        width: 100%;
        & .info {
            text-align: center;
            width: 100%;
            margin-block-end: 5vh;
            & h1, h3 {
                margin-block: 1vh;
            }
        }
        & .moves-list {
            margin: 0;
            width: 100%;  
            text-align: center;
        }
}