.statistics-wrapper {
  text-align: center;

  & h2 {
    margin-block-end: 5vh;
    scale: 1.2;
  }
  & div {
    display: flex;
    flex-direction: column;
  }
  .main-wrapper {
    gap: 8vh;
    .graph-wrapper {
      display: flex;
      flex-direction: row-reverse;
      .sparklines-container {
        flex: 1;
      }
      .scale-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .scale-label {
          height: 100%;
          font-size: 12px;
          color: #777;
        }
      }
    }
  }
}
